@import "../Shared/config";

$disabled-base0: #ccc;
$disabled-base1: #888;

.btn-custom {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  color: #fff;
  background: #333;
  border-radius: 5px;
  border: 1px solid #333;
  margin: 0.2rem;
  -webkit-appearance: none;
  appearance: none;
  user-select: none;

  &:hover {
    background: #fff;
    color: #333;
  }

  &:disabled {
    cursor: not-allowed;
    background: $disabled-base0;
    color: $disabled-base1;
    border: $disabled-base0;
    box-shadow: none;

    &:hover,
    &:active {
      background: $disabled-base0;
      color: $disabled-base1;
      border: $disabled-base0;
    }
  }
}

.btn-info {
  background: $info-color;
  color: #fff;
  &:hover {
    background: #2e5763;
  }
}
